@import url(variables.css);
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
/*200-800*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input,
button,
textarea {
  border: none;
  outline: none;
}

input,
button,
textarea {
  border: none;
  outline: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a:active,
a:visited {
  color: var(--dark-black-100);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Manrope", sans-serif;
  width: 100vw;
  height: 100vh;
}

.flexrow {
  display: flex;
  flex-direction: row;
}

.flexcolum {
  display: flex;
  flex-direction: column;
}

/*header*/

.header {
  justify-content: space-between;
  padding: 0 2.5rem;
}

.nav {
  gap: 1.5rem;
}

/*main*/

.main {
  padding: 1.5rem;
}

/*profile*/
.main__section1 {
  text-align: center;
  align-items: center;
  margin-bottom: 100px;
}

.profile {
  order: 2;
}

.profile__picture {
  order: 1;
  width: 100%;
  max-width: 350px;
  padding: 30px;
}

.profile {
  gap: 1rem;
}

.profile__name {
  font-size: 36px;
  line-height: 40px;
  font-weight: 800;
  color: var(--light-white-200);
}

.profile__description {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: var(--light-gray-200);
}

.profile__button {
  margin-top: 15px;
  padding: 16px 48px;
  font-size: 18px;
  width: max-content;
  align-self: center;
  gap: 16px;
  color: var(--light-white-100);
  background-color: var(--light-gray-100);
  border-radius: var(--radius-3);
  cursor: pointer;
}

.profile__button i {
  font-size: 20px;
  color: var(--light-white-100);
}

/*featured work*/
.main__section2--title {
  color: var(--light-white-200);
  font-weight: 500;
  font-size: var(--txt-6);
  align-content: center;
}

.main__section2--title i {
  margin-right: 10px;
  font-size: var(--txt-1);
}

/*visual Explorations*/
.main__section3--title {
  color: var(--light-white-200);
  font-weight: 500;
  font-size: var(--txt-6);
  align-content: center;
}

.main__section3--title i {
  margin-right: 10px;
  font-size: var(--txt-1);
}

/*personal projects*/

.main__section4--title {
  color: var(--light-white-200);
  font-weight: 500;
  font-size: var(--txt-6);
  align-content: center;
}

.main__section4--title i {
  margin-right: 10px;
  font-size: var(--txt-1);
}

/*contact*/

.contact {
  padding: 150px 40px 60px;
  text-align: center;
  gap: 15px;
}

.contact__title {
  font-weight: 900;
  font-size: var(--txt-5);
  color: var(--light-white-200);
}

.contact__description {
  font-size: var(--txt-6);
  color: var(--light-gray-200);
  font-weight: 500;
}

.contact__button {
  padding: 16px 50px;
  font-size: 18px;
  width: max-content;
  align-self: center;
  display: flex;
  align-self: center;
  color: var(--light-white-100);
  background-color: var(--light-gray-100);
  border-radius: var(--radius-3);
  cursor: pointer;
  margin-top: 25px;
}

.contact__button--icon {
  font-size: 23px;
  color: var(--light-white-100);
  margin-right: 15px;
}

/*footer*/

.footer {
  padding: 50px;
  gap: 30px;
  width: 100%;
  border-top: 1px solid var(--light-gray-300);
}

.footer__nav {
  align-items: center;
}

.footer__description {
  order: 2;
  text-align: center;
  font-size: var(--txt-3);
  color: var(--light-gray-200);
}

.footer__description strong {
  color: var(--light-white-300);
}

.footer__nav--ul {
  width: 80%;
  justify-content: space-between;
  font-size: var(--txt-1);
}

.nav__a--icon {
  color: var(--light-gray-200);
}
